<app-base-page></app-base-page>
<div id="fvDiv">

<div *ngIf="isLoggedIn()" class="container">
    <h3>Only registered user can view Favourite list</h3>
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h4 class="card-header alert-success">Registred User ONLY</h4>
        <div class="card-body">
          <a routerLink="favourite-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Favourite List</a>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
