<!--File Name: aboutme page of Assignment02
Name: Syed Nasir Gohary
StudentID: 300937424
Date: 2019-04-05
Some of the content are taken from Week10 Demo--->
<app-base-page></app-base-page>

<div id="personalAddress" class="col-sm-6 col-sm-offset-3">
  <div class="panel panel-default text-center">

      <h4>Name: Syed Nasir Gohary</h4>
      <h4>Address: 941 Progress Avenue</h4>
      <h4>Email: syednacer@gmail.com</h4>
      <h4>Hours: 0900-1730</h4>
      <h4>Cell: 4168300378</h4>
  </div>
</div>

<h3>Only registered user can view contact list</h3>
<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
