/*
Student Name: Syed Nasir Gohary
Student ID: 300937424
Description: Assignment2
Date: 04/05,2019
Reference: Tom Tsiliopoulos's Class Demo, Github Repo's
All codes are taken from Tom Tsiliopoulos's classes and demos
*/
.divMain{
  width:950px;
  border-radius: 5px;
  background-color: khaki;
  margin-left: auto;
  margin-right: auto;
}
h2{
  padding-left: 20px;
  padding-top: 10px;
}
